/* style.css */
body {
    font-family: 'Orbitron', sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

body * {
    transition: all 0.5s;
}

header {
    background: #000;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    text-align: center;
}

#main-menu {
    background-color: #0077b6;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#horizontal-menu li{
    list-style: none;
    display: inline-block;
}

#main-menu .item {
    box-shadow: 0px 0px 10px 0px;
    padding: 10px;
    background-color: #f0f0f0;
    transition: background-color 0.5s;
    color: #000;
}

#vertical-menu-container {
    background-color: #0077b6;
    float: left;
    width: 20%;
    height: 100vh;
    padding: 10px;
    margin-right: 20px;
    color: #fff;
}

#vertical-menu-container a {
    color: #fff;
    text-decoration: none;
}

#subscribe-form {
    border: 2px solid #ffffff;
    padding: 20px;
    background-color: #0077b6;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ffffff;
}

#subscribe-form input[type="email"]{
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    color: #000;
}

#subscribe-form button[type="submit"]{
    background-color: #ffffff;
    color: #0077b6;
    border-radius: 5px;
    padding: 5px;
}

main {
    background: #000;
    color: #fff;
    padding: 20px;
}

main h2{
    color: #fff;
    text-align: center;
}

footer {
    background: #000;
    color: #fff;
    padding: 20px;
}

footer section {
    text-align: center;
}
